<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <% include menu %>
    <div class="container" style="width: 60%">

        <div class="jumbotron" style="text-align: center">
            <h1 class="display-3">Thêm mới dữ liệu</h1>
            <p class="lead">liên kết mongoDB</p>
            <hr class="my-2">
            <p>Dữ liệu người dùng</p>
        </div>

        <form action="/them" method="post">
            <div class="form-group">
                <label for="ten">Tên</label>
                <input type="text" name="ten" id="ten" class="form-control" placeholder="Thêm họ tên"
                    aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="dienthoai">Điện thoại</label>
                <input type="text" name="std" id="std" class="form-control" placeholder="Thêm số điện thoại"
                    aria-describedby="helpId">
            </div>

            <button onclick = " return khongco('Thong tin khong day du');" type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>

    </div>


</body>

<script>

    function khongco(str){
        var ten = document.getElementById('ten');
        var std = document.getElementById('std');

        if(ten.value == ''&&std.value == ''){
            alert(str);
            return false;
        }
        else{
            return true;
        }

    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
    integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
    crossorigin="anonymous"></script>

</html>